<% provide(:title, @user.name) %>
<div class="row-fluid">
  <div class="span4">
    <%= render 'shared/forms' %>
  </div>
  <div class="span8">
    <%= render 'follow_form' if signed_in? %>
    <div class="well">
      <% if @robot_configs.any? %>
      <table class="table table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>Robot</th>
              <th>Updated</th>
              <th class="right">Profit Factor</th>
              <th class="right">Drawdown</th>              
              <th class="right">Profit</th>              
            </tr>
          </thead>
          <% @rank = 0 %>
          <%= will_paginate @robot_configs %>
          <%= render @robot_configs %>
        </table>
      <% end %>
    </div>
  </div>
</div>
<% if @user.microposts.any? %>
  <div class="row-fluid">
    <div class="accordion" id="accordion1">
      <div class="accordion-group">
        <%= render partial: 'microposts/microposts_accordian', locals: {microposts: @user.microposts} %>
      </div>
    </div>
  </div>
<% end %>
