<%
  name = robot_config.robot.user.name
  icon = ''
  styleclass = 'btn-info'
  if @robot_config == nil
    name = robot_config.robot.name
  else
    if robot_config.id == @robot_config.id
      styleclass = 'btn-success'
      icon = 'icon-hand-right'
    end
    if robot_config.instance_number == 1
      name = 'Upload'
    end
  end
  title = "<table>"
  title = "<tr><td>Created by</td><td>&nbsp;&nbsp;:&nbsp;&nbsp;</td><td>" + robot_config.robot.user.name + "</td></tr>"
  title += "<tr><td>Created at</td><td>&nbsp;&nbsp;:&nbsp;&nbsp;</td><td>" + robot_config.created_date + "</td></tr>"
  title += "<tr><td>Profit factor</td><td>&nbsp;&nbsp;:&nbsp;&nbsp;</td><td>" + robot_config.real_profit_factor.to_s + "%</td></tr>"
  title += "<tr><td>Drawdown</td><td>&nbsp;&nbsp;:&nbsp;&nbsp;</td><td>" + robot_config.real_drawdown.to_s + "%</td></tr>"
  title += "<tr><td>Profit</td><td>&nbsp;&nbsp;:&nbsp;&nbsp;</td><td>" + number_to_currency(robot_config.real_gross_profit - robot_config.real_gross_loss, unit: '&pound;') + "%</td></tr>"
  title += "</table>"
%>
<a href="<%= robot_config.robot_id %>?config_id=<%= robot_config.id %>" title="<%= title %>" class="btn btn-small btn-block btn-version <%= styleclass %>">
  <span><i class="<%= icon %>"></i></span>
  <span><%= name %></span>
  <span><%= robot_config.real_profit_factor %>%</span>
  <span><%= robot_config.real_drawdown %>%</span>
</a>
