<%
  title = "<table>"
  title = "<tr><td>Created by</td><td>&nbsp;&nbsp;:&nbsp;&nbsp;</td><td>" + robot_config.robot.user.name + "</td></tr>"
  title += "<tr><td>Created at</td><td>&nbsp;&nbsp;:&nbsp;&nbsp;</td><td>" + robot_config.created_date + "</td></tr>"
  title += "<tr><td>Profit factor</td><td>&nbsp;&nbsp;:&nbsp;&nbsp;</td><td>" + robot_config.profit_factor.to_s + "%</td></tr>"
  title += "<tr><td>Drawdown</td><td>&nbsp;&nbsp;:&nbsp;&nbsp;</td><td>" + robot_config.relative_drawdown.to_s + "%</td></tr>"
  title += "</table>"
%>
<a href="robots/<%= robot_config.robot_id %>?config_id=<%= robot_config.id %>" title="<%= title %>" class="btn btn-small btn-block btn-button btn-info">
  <span><%= robot_config.robot.name %></span>
  <span><%= robot_config.profit_factor %>%</span>
  <span><%= robot_config.relative_drawdown %>%</span>
</a>
