    <tr>
      <td><%= @rank += 1 %></td>
      <% if @show_all_columns %>
      <td><%= link_to robot_config.user.name, user_path(robot_config.user) %></td>
      <% end %>
      <td><%= link_to robot_config.robot.name, robot_config %></td>
      <td nowrap><%= robot_config.updated_at.strftime("%Y-%m-%d %H:%M")  %></td>
      <td class="right"><%= robot_config.real_profit_factor %>%</td>
      <td class="right"><%= robot_config.real_drawdown %>%</td>
      <td class="right"><%= number_to_currency(robot_config.real_gross_profit - robot_config.real_gross_loss, unit: "&pound;") %></td>      
    </tr>
<% @user ||= current_user %>
