<div class="accordion-heading">
  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne">Comments</a>
</div>
<div id="collapseOne" class="accordion-body collapse in">
  <div class="accordion-inner">    
    <div class="microposts">      
      <li style="text-align:right"><a href="#new-post" role="button" class="btn btn-link" data-toggle="modal">Create New</a> 
      <!-- Modal -->
      <div id="new-post" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="new-postLabel" aria-hidden="true">
        <div class="well">
          <%= form_tag microposts_path do %>
            <div class="modal-body">      
              <% if robot_config != nil %>
                <%= hidden_field_tag :robot_config_id, robot_config.id %>
              <% end %>
              <%= text_area_tag :content, nil, placeholder: "Write a comment..." %>                      
              <%= submit_tag "Post", class: "btn btn-small btn-primary" %>
            </div>              
          <% end %>      
        </div>
      </div>
      <%= render partial: 'microposts/micropost', collection: microposts %>
    </div>    
  </div>  
</div>
