<% profit = @balance * trade.profit_percentage
if trade.is_disabled(@robot_config) %>
  <tr class="disabled-trade">
<% else 
    @balance += @balance * trade.profit_percentage %>
<tr>
<% end %>
  <td><%= trade.order_id  %></td>
  <td><%= trade.open_time.strftime("%Y-%m-%d %H:%M")  %></td>
  <td><%= trade.direction.upcase  %></td>
  <td><%= trade.profit_percentage.to_s  %></td>
  <td><%= number_with_precision(profit, :precision => 2)  %></td>
  <td><%= number_to_currency(@balance, unit: "&pound;")  %></td>
</tr>
