<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to image_tag("/logo.png", width: 60, id: "logo_image"), home_path %>
      <%= link_to "EA Control", home_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <%= render 'layouts/public_menus' %>
          <% if signed_in? %>
            <%= render 'layouts/private_menus' %>
          <% else %>
            <li><%= link_to "Sign in", signin_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>